::-webkit-scrollbar {
	width: 0;
	height: 0;
}

* {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	outline: none;
}


body, html, #root {
	width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

p {
	text-transform: uppercase;
	font-weight: 500;
	color: gray;
}

button {
	cursor: pointer;
}

.gameboard {
	display: grid;
	grid-template-columns: repeat(3, 100px);
	grid-template-rows: repeat(3, 100px);

	.game-button {
		background: rgba(0,0,0,0.2);
		border: 1px solid rgba(255,255,255,0.5);
		font-size: 20px;
		font-weight: bold;
		color: white;
		text-shadow: 0 0 10px rgba(255,140,244,0.5);
	}
}

.newgame-button {
	height: 50px;
	width: 150px;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 10px;
	text-transform: uppercase;
	background: indigo;
	color: white;
	&:hover {
		transition: .25s ease-in-out;
		background: rgb(50, 0, 85);
	}
}